.todo-container {
  max-width: 480px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.todo-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  background: #aa82db;
  border: none;
  color: white;
}

.todo-input::placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.add-todo-button {
  background-color: #9756e5;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 10px;
  width: 175px;
  box-shadow: 0px 0px 2px 2px #af7eeb;
  z-index: 1;
}

.todo-panel {
  margin-top: -30px;
  background: white;
  padding: 40px 20px 15px 20px;
  color: #9ba4c1;
  font-weight: bold;

  width: 100%;
}
.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.todo-checkbox {
  margin-right: 10px;
}

.todo-title {
  flex: 1;
  font-size: 16px;
}

.delete-todo-button {
  background-color: #6d0ca9;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}
